<div class="col-10 offset-1">
  <br />

  <h1>About Splurty</h1>

  <p>
    Splurty is a database-powered quotes generator with a slick, mobile-first design, built with Ruby on Rails, HTML, CSS3, GitHub and Heroku. It is built by <a target="_blank" href="https://github.com/team-zaki">Zaki</a> a curious cat who is on a mission to learn the technical full-stack developer skills to launch his own experiments and turn ideas into possibilities.
  <p>
    Zaki is a lifelong learner and avid reader.
  <p>
    If you want to learn how to build your Splurty 'Quotes generator' - start <a target="_blank" href="http://www.thefirehoseproject.com/"> here</a>.
  </p>


  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'z1.jpg', class: 'img-fluid' %>
    </div>


    <div class="col-12 col-sm-7 offset-sm-1">
      <br />
      <br />
      <h2 class="text-center">Zaki Mohammad</h2>
      <br />
      <p>
        Zaki Mohammad brings a wealth of experience and acumen from his previous roles as an entrepreneur, executive, accountant, consultant, IoT solution architect, data scientist and AI practitioner, across multiple industry verticals and settings. He is at Firehose Project looking to augment his skills as a full-stack developer. 
      </p>
    </div>
  </div>
  


</div>

<br class="clear" />
<br />
<br />
<br />
<br />