<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>

    <p>
    Splurty was built by <a target="_blank" href="https://github.com/team-zaki">Zaki</a>. A curious cat who is on a mission to help organizations and people to thrive in current Digital Transformation era.
  </p>
  <br />
  <p>
    Zaki is the Chief Transformation Officer at Fast Lane Digital, which is a division of Fast Lane (a top 10 global technology training organization), where he is leading Fast Lane's own digital transformation journey, in tandem with helping Fortune 1000 enterprise customers with their IoT initiatives, including developing platform business models, outcomes-based product development, talent management, sales and technical enablement through innovative learning and training experiences. He is an avid reader and an eternal student on how IoT, AI and Blockchain is rapidly changing the business and society in general.
  </p>
  <p>
    Splurty is part of a coding assignment. If you want to learn how to code - start <a target="_blank" href="http://www.thefirehoseproject.com/"> here</a>.
  </p>

  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'z1.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Zaki Mohammad</h2>
      <br />
      <p>
        <strong>Zaki Mohammad</strong>, brings a wealth of experience and acumen from his previous roles as an entrepreneur, executive, accountant, consultant, IoT solution architect, data scientist and AI practitioner, across multiple industry verticals and settings.
      </p>
    </div>
  </div>
  <br class="clear" />
  </div>


</div>

<br class="clear" />
<br />
<br />
<br />
<br />