<div class="col-10 offset-1">
  <br />

  <h1>About Splurty</h1>

  <p>
    Splurty was built by <a target="_blank" href="https://github.com/team-zaki">Zaki</a> a curious cat who is on a mission to learn the technical skills to launch her own experiments and turn ideas into a world of abundance.
  <p>
    Zaki is an lifelong learner and transhumanist.
  <p>
    If you want to learn how to code - start <a target="_blank" href="http://www.thefirehoseproject.com/"> here</a>.
  </p>


  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'z1.jpg', class: 'img-fluid' %>
    </div>


    <div class="col-12 col-sm-7 offset-sm-1">
      <br />
      <br />
      <h2 class="text-center">Zaki Mohammad</h2>
      <br />
      <p>
        Zaki Mohammad brings a wealth of experience and acumen from his previous roles as an entrepreneur, executive, accountant, consultant, IoT solution architect, data scientist and AI practitioner, across multiple industry verticals and settings. He is looking to improve his skills as a full-stack developer. 
      </p>
    </div>
  </div>
  


</div>

<br class="clear" />
<br />
<br />
<br />
<br />