<h2>
  <br />
  <br />
  <span>SPLURTY / No. <%= @quote.id %></span>
  <br />
  <br />
  Here's the <b>best startup advice</b> you can get ....
  <br />
</h2>

<br />



<h1><%= @quote.saying %></h1>
<h2>
  <P ALIGN=RIGHT>- <%= @quote.author %></P>
</h2>